{% extends "admin/change_form.html" %}
{% load i18n %}

{% block form_top %}
{{ block.super }}
<div style="margin-bottom: 1rem;">
    <a href="{% url 'admin:load_spec_base' original.vendor_code original.pk%}" class="button">
        Подкачать характеристики с КАСПИ
    </a>
    <br>
    <br>
    <a href="{% url 'admin:load_img_base' original.vendor_code original.pk%}" class="button">
        Подкачать картинки с КАСПИ
    </a>
    <br>
    <br>
    <a href="{% url 'admin:load_price_base' original.vendor_code original.pk%}" class="button">
        Подкачать цену с КАСПИ
    </a>
</div>
{% endblock %}